.container {
  width: 16rem;
  /* height: 100%; */
  /* background: pink; */
}

.imagecontainer {
  width: 15.3rem;
  height: 15.3rem;
  border-radius: 2.5rem;
  /* background: blue; */
  object-fit: cover;
}

.imagecontainer img {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
}

.title {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
