.container {
  width: 100%;
  /* background: red; */
  height: 5rem;
  display: flex;
}

.search {
  /* background: blue; */
  align-self: center;
}

.input {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border: none;
  padding: 0 2.7rem;
  color: #fff;
}

.input:focus {
  outline: none;
}
