.container {
  color: white;
  background: var(--dark-alt);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  border-radius: 3.2rem;
  padding: 2.6rem 0;
  margin-left: 1rem;
}

.container:last-of-type {
  margin-top: 2rem;
}

.container img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.container div:not(:last-of-type) {
  margin-bottom: 4rem;
}

.anchor {
  display: block;
  /* margin-bottom: 4rem; */
}

.anchor:not(:last-of-type) {
  margin-bottom: 0;
}

.container img:not(:last-of-type) {
  margin-bottom: 4rem;
  /* margin-top: 3rem; */
}
