@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --light: #efeee0;
  --dark: #1d2123;
  --secondary: #facd66;
  --primary: #a4c7c6;
  --dark-alt: #1a1e1f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--dark);
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
}

.App {
  padding: 2.3rem 2.7rem;
}
